:root {
  --mw-brand: #646cff;
  --mw-brand-light: #747bff;
  --mw-brand-lighter: #9499ff;
  --mw-brand-lightest: #bcc0ff;
  --mw-brand-dark: #535bf2;
  --mw-brand-darker: #454ce1;
  --mw-brand-darkest: #3a43d9;
  --mw-brand-dimm: rgba(100, 108, 255, .08);

  --primary-color: var(--mw-brand);
  --primary-color-rgb: 80, 185, 255;
  --secondary-color: #c184ff;
  --secondary-color-rgb: 193, 132, 255;

  --warning-color: #ffc107;
  --warning-color-rgb: 255, 193, 7;
  --warning-color-light-1: oklch(from var(--warning-color) calc(l * 1.15) c h);
  --warning-color-light-2: oklch(from var(--warning-color) calc(l * 1.25) c h);
  --warning-color-dark-1: oklch(from var(--warning-color) calc(l * 0.45) c h);

  --success-color: #48bb78;
  --success-color-rgb: 72, 187, 120;
  --danger-color: #e53e3e;
  --danger-color-rgb: 229, 62, 62;
  --info-color: #63b3ed;
  --info-color-rgb: 99, 179, 237;

  --light-color: #d7dee2;
  --light-color-rgb: 215, 222, 226;
  --dark-color: #2d3748;
  --dark-color-rgb: 45, 55, 72;
  --white-color: #fff;
  --white-color-rgb: 255, 255, 255;
  --black-color: #000;
  --black-color-rgb: 0, 0, 0;

  --link-color: var(--mw-brand-lighter);
  --link-color-hover: var(--mw-brand-lightest);
  --link-color-visited: var(--secondary-color);
  --link-color-visited-hover: #d1a3ff;
  --link-color-visited-hover-rgb: 209, 163, 255;

  --background-color: #161618;
  --background-color-rgb: 18, 39, 59;
  --background-color-light-1: oklch(from var(--background-color) calc(l * 1.25) c h);
  --background-color-light-2: oklch(from var(--background-color) calc(l * 3) c h);
  --background-color-dark-1: oklch(from var(--background-color) calc(l * 0.75) c h);

  --font-header: 'ivypresto-headline', sans-serif;
  --font-body: 'proxima-nova', serif;
  --font-body-regular-weight: 400;
  --font-body-bold-weight: 700;
}

html {
  background-color: var(--background-color);
  color: var(--light-color);
  font-family: var(--font-body);
  font-weight: var(--font-body-regular-weight);
  line-height: 1.6;
  font-size: 18px;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--mw-brand-darkest);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(from var(--background-color) h s calc(l * 1.35));
}

::-webkit-scrollbar-thumb {
  background-color: var(--mw-brand-dark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--mw-brand-darker);
}


a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

a:visited {
  color: var(--link-color-visited);
}

a:visited:hover {
  color: var(--link-color-visited-hover);
}

h1 {
  margin: 1rem 0;
  font-size: 2.75rem;
  font-family: var(--font-header);
  font-weight: 400;
  font-style: italic;
  text-wrap: balance;
  line-height: 1.3;
}

h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-family: var(--font-body);
  margin-bottom: 0.25rem;
  margin-top: 1.25rem;
  font-weight: var(--font-body-bold-weight);
}

p {
  margin: 0 0 1rem;
}

blockquote {
  padding: 1rem;
  background: linear-gradient(to right, var(--background-color-dark-1), transparent);
  border-left: 0.25rem solid var(--background-color-light-1);
  color: var(--background-color-light-2);
}

code {
  font-size: 0.85rem;
  background-color: var(--background-color-dark-1);
  box-shadow: 0 0 0 0.1rem var(--background-color-dark-1);
}

.notification {
  padding: 1rem;
  border-left: 0.25rem solid var(--background-color-light-1);
  font-family: var(--font-header);
}

.notification.warning {
  background: linear-gradient(to right, var(--warning-color-dark-1), transparent);
  border-color: var(--warning-color-light-1);
  color: var(--warning-color-light-2);
}

pre.astro-code {
  background-color: var(--background-color-dark-1) !important;
  padding: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border-radius: 0.5rem;
  font-size: 0.85rem;
}

pre.astro-code code {
  background-color: transparent;
  box-shadow: none;
}
