@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-teal-100 dark:bg-teal-950;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-secondary-200 dark:bg-secondary-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-400 dark:bg-secondary-700;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-brand-400 dark:bg-brand-700;
  }

    h1,
  .content > h1 {
    @apply text-4xl mb-10 font-serif text-balance italic text-secondary-950 dark:text-secondary-300 leading-tight;
  }

  h2,h3,h4,h5,h6,
  .content > h2,
  .content > h3,
  .content > h4,
  .content > h5,
  .content > h6 {
    @apply text-secondary-950 dark:text-secondary-400 text-3xl font-bold mt-5 mb-3 leading-tight;
  }

  h2,
  .content > h2 {
    @apply text-secondary-800 dark:text-secondary-300;
  }

  h3,
  .content > h3 {
    @apply text-2xl;
  }

  h4,
  .content > h4 {
    @apply text-xl;
  }

  h5,
  .content > h5 {
    @apply text-lg;
  }

  h6,
  .content > h6 {
    @apply text-base font-bold;
  }

  p,
  .content > p {
    @apply mb-3;
  }

  p, a, li {
    @apply text-base;
  }

  .content > p:last-child {
    @apply mb-0;
  }

  a {
    @apply text-brand-800 dark:text-brand-600 transition-colors hover:text-brand-700 hover:dark:text-brand-700 hover:underline;
  }

  .content > blockquote {
    @apply p-10 mb-5 bg-gradient-to-r from-secondary-100 dark:from-secondary-900 to-transparent border-l-4 border-secondary-300 dark:border-secondary-600 text-secondary-950 dark:text-secondary-200;
  }

  .content > hr {
    @apply my-10 border-t border-secondary-200 dark:border-secondary-800;
  }

  .content > ol,
  .content > ul {
    @apply mb-5;
  }

  .content ol {
    @apply list-decimal list-inside;
  }

  .content ul {
    @apply list-disc list-inside;
  }

  .content > ol.list-none,
  .content > ul.list-none {
    @apply ml-0;
  }

  .content > .notification {
    @apply p-4 border-l-4;
  }

  .content > .notification.warning {
    @apply bg-gradient-to-r from-yellow-700 to-transparent border-yellow-400 text-yellow-200;
  }

  .mw-bg-2 {
    @apply bg-secondary-100;
  }
  html.dark .mw-bg-2 {
    background-color: #121212;
  }

  .bg-stripes-fuchsia {
    background-color: #e879f91a;
    background-image: linear-gradient(135deg,#d946ef80 10%,#0000 0,#0000 50%,#d946ef80 0,#d946ef80 60%,#0000 0,#0000);
    background-size: 7.07px 7.07px;;
  }

  .bg-stripes-amber {
    background-color: #f59e0b1a;
    background-image: linear-gradient(135deg,#f59e0b80 10%,#0000 0,#0000 50%,#f59e0b80 0,#f59e0b80 60%,#0000 0,#0000);
    background-size: 7.07px 7.07px;;
  }

  .bg-stripes-slate {
    background-color: #6c757d80;
    background-image: linear-gradient(135deg, #6c757d80 10%, #0000 0, #0000 50%, #6c757d80 0, #6c757d80 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;;
  }

  /* Code blocks */
  figure[data-rehype-pretty-code-figure] pre {
    @apply py-4 mb-5 rounded-lg overflow-x-auto;
  }

  [data-highlighted-line] {
    background: rgba(255, 234, 200, 0.07);
  }

  [data-highlighted-chars] {
    @apply bg-zinc-600/50 rounded;
    box-shadow: 0 0 0 4px rgb(255, 234, 200 / 0.5);
  }

  [data-chars-id] {
    border-bottom-width: 2px;
    padding: .25rem;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
  }

  [data-chars-id] {
    @apply shadow-none p-1 border-b-2;
  }

  [data-chars-id] span {
    @apply !text-inherit;
  }

  [data-chars-id='a'] {
    @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
  }

  [data-chars-id='b'] {
    @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
  }

  [data-chars-id='c'] {
    @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
  }

  [data-rehype-pretty-code-title] {
    @apply bg-zinc-700 text-zinc-200 rounded-t-lg py-2 px-3 font-semibold text-sm;
  }

  figcaption + pre {
    @apply !rounded-t-none;
  }

  code {
    counter-reset: line;
  }

  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
  }
}
