:root {
  --mw-brand: #646cff;
  --mw-brand-light: #747bff;
  --mw-brand-lighter: #9499ff;
  --mw-brand-lightest: #bcc0ff;
  --mw-brand-dark: #535bf2;
  --mw-brand-darker: #454ce1;
  --mw-brand-darkest: #3a43d9;
  --mw-brand-dimm: rgb(from var(--mw-brand) r g b / 0.2);

  --primary-color: var(--mw-brand);
  --primary-color-rgb: 80, 185, 255;
  --secondary-color: #c184ff;
  --secondary-color-rgb: 193, 132, 255;

  --warning-color: #ffc107;
  --warning-color-rgb: 255, 193, 7;
  --warning-color-light-1: oklch(from var(--warning-color) calc(l * 1.15) c h);
  --warning-color-light-2: oklch(from var(--warning-color) calc(l * 1.25) c h);
  --warning-color-dark-1: oklch(from var(--warning-color) calc(l * 0.45) c h);

  --success-color: #48bb78;
  --success-color-rgb: 72, 187, 120;
  --danger-color: #e53e3e;
  --danger-color-rgb: 229, 62, 62;
  --info-color: #63b3ed;
  --info-color-rgb: 99, 179, 237;

  --light-color: #d7dee2;
  --light-color-rgb: 215, 222, 226;
  --dark-color: #2d3748;
  --dark-color-rgb: 45, 55, 72;
  --white-color: #fff;
  --white-color-rgb: 255, 255, 255;
  --black-color: #000;
  --black-color-rgb: 0, 0, 0;

  --link-color: var(--mw-brand-lighter);
  --link-color-hover: var(--mw-brand-lightest);
  --link-color-visited: var(--secondary-color);
  --link-color-visited-hover: #d1a3ff;
  --link-color-visited-hover-rgb: 209, 163, 255;

  --background-color: #161618;
  --background-color-rgb: 18, 39, 59;
  --background-color-light-1: oklch(from var(--background-color) calc(l * 1.25) c h);
  --background-color-light-2: oklch(from var(--background-color) calc(l * 3) c h);
  --background-color-dark-1: oklch(from var(--background-color) calc(l * 0.75) c h);

  --font-header: 'ivypresto-headline', sans-serif;
  --font-body: 'proxima-nova', serif;
  --font-body-regular-weight: 400;
  --font-body-bold-weight: 700;

  --border: 4px dashed var(--background-color-light-1);
}
