---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle} sidebar={false}>
  <h1>I'm a software engineer based in the UK.</h1>

  <p class="text-xl">
    I have a passion for building and designing web applications and tools that
    are easy to use and look great. I have a strong background in design and
    development and have worked with a wide range of clients from small
    businesses to large corporations.
  </p>

  <p class="text-xl">
    I have an interest in all things tech and design and I'm always looking for
    new and exciting things that interest me that I'll write down here.
  </p>

  <p class="text-xl">I hope you will enjoy your reading!</p>

  <hr />

  <h2 class="pb-3">Experience</h2>
  <p class="text-2xl font-bold text-balance">
    I have built web applications and bespoke business tools and applications
    for over 20 years.
  </p>

  <p>
    I have a strong understanding of the front-end and back-end technologies and
    have worked with a wide range of technologies including C#, Ruby on Rails,
    React, React Native, Node.js, and many more.
  </p>

  <p>
    I have a diverse background in technology and design, having contributed to
    a startup where I developed a cross-platform music application using React
    Native. Additionally, my experience spans across marketing, design, and web
    development agencies, where I’ve crafted a broad range of digital solutions,
    including websites, web applications, e-commerce platforms, and social media
    applications.
  </p>

  <p>I'm currently working in the financial sector.</p>
</BaseLayout>
