---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle} sidebar={true}>
  <div class="prose">
    <h1 class="text-balance">I am a software engineer based in the UK.</h1>

    <p class="prose prose-xl dark:prose-invert font-serif">
      I have a strong background in design and development and have worked with
      a wide range of clients from small businesses to large corporations.
    </p>

    <p class="prose prose-xl dark:prose-invert font-serif">
      I have an interest in all things music, art, tech and design and I'm
      always looking for new and exciting things that interest me that I'll
      write down and collect here.
    </p>

    <p class="prose prose-xl dark:prose-invert font-serif">
      I hope you might find something interesting!
    </p>
  </div>
</BaseLayout>
