---
const { url, title, date } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;
---

<style>
  li {
    display: flex;
    flex-direction: column;
    border-bottom: 4px dashed var(--background-color-light-1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  a {
    display: block;
    width: 100%;
  }

  small {
    flex-shrink: 0;
  }

  @media only screen and (min-width: 1372px) {
    li {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }

    small {
      padding-left: 1rem;
    }
  }
</style>

<li>
  <a href={url}>{title}</a>
  <small>{formattedDate}</small>
</li>
