---
const { url, title, date, description } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;
---

<a
  href={url}
  class="group hover:no-underline block p-5 mb-5 transition-colors mw-bg-2 hover:bg-secondary-200 dark:hover:bg-secondary-800"
>
  <article class="flex flex-col">
    <h2 class="m-0 text-2xl group-hover:underline">{title}</h2>
    <small class="text-secondary-600 dark:text-brand-300">{formattedDate}</small
    >
    <p class="m-0 text-secondary-700 dark:text-brand-200">{description}</p>
  </article>
</a>
