---
const { url, title, date, isActive } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;
---

<li
  class="flex mb-3 last:border-none flex-row md:flex-col xl:flex-row xl:justify-between items-baseline leading-tight"
>
  <a href={url} class="block w-full hover:underline pr-3">{title}</a>
  <time class="shrink text-xs text-nowrap xl:pl-5 mt-2 text-sm"
    >{formattedDate}</time
  >
</li>
