---
const { url, title, date } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;
---

<li
  class="flex flex-col mw-border-b pb-5 mb-5 last:border-none last:mb-0 last:pb-0 xl:flex-row xl:justify-between xl:items-baseline"
>
  <a href={url} class="block w-full hover:underline">{title}</a>
  <time class="shrink text-xs text-nowrap xl:pl-5">{formattedDate}</time>
</li>
