---
const { url, title, date, isActive } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;
---

<li
  class="prose dark:prose-invert flex mb-3 flex-row md:flex-col xl:flex-row xl:justify-between items-baseline"
>
  <a
    href={url}
    class="block w-full no-underline hover:underline pr-3 leading-tight"
    >{title}</a
  >
  <time class="hidden md:inline shrink text-xs text-nowrap xl:pl-5 mt-2 text-sm"
    >{formattedDate}</time
  >
</li>
