---

---

<footer role="contentinfo" class="mw-bg-2 mw-border-t w-full">
  <div class="p-5">
    <p class="m-0">
      <strong>Contact me:</strong>
      <br />
      More information can be found on <a
        href="https://www.linkedin.com/in/mwattsweb/"
        target="_blank">LinkedIn</a
      > or please contact me by <a
        href="mailto:hello@michaelwatts.me"
        target="_blank">email</a
      >.
    </p>
  </div>
</footer>
