---
const { href, isActive } = Astro.props;
---

<a href={href} class="text-brand-800 dark:text-brand-200">
  <span
    class={isActive
      ? "active underline text-brand-400 font-bold mx-2"
      : "font-bold mx-2"}
  >
    <slot />
  </span>
</a>
