---

---

<div>
  <h1 class="text-4xl mb-3">I'm a software engineer based in the UK.</h1>
  <p class="text-balance text-2xl">
    I have built web applications and bespoke business tools and applications
    for over 20 years.
  </p>
</div>
