---
---

<section>
  <h1>Michael Watts</h1>
  <p>I'm a senior software engineer at a startup based in the UK.</p>
  <p>
    I have built web applications and bespoke business tools and applications for over 20 years.
  </p>
</section>
