---
---

<style>
  div {
    max-width: 800px;
    padding: 20px 0;
  }
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
    line-height: 1.4;
  }
</style>

<div>
  <h1>I'm a senior software engineer based in the UK.</h1>
  <p>
    I have built web applications and bespoke business tools and applications for over 20 years.
  </p>
</div>
