---
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md*");
const publishedPosts = allPosts
  .filter((post) => post.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      (new Date(b.frontmatter.pubDate) as any) -
      (new Date(a.frontmatter.pubDate) as any)
  );
---

<aside class="md:p-5 md:mw-border-r md:mw-bg-2">
  <div id="show-menu-button" class="p-12 md:hidden dark:bg-secondary-900">
    <button>Show menu</button>
  </div>
  <ul
    id="menu-list"
    class="list-none m-0 hidden md:block p-12 md:p-0 dark:bg-secondary-900"
  >
    {
      publishedPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          date={post.frontmatter.pubDate}
        />
      ))
    }
  </ul>
</aside>

<script>
  const showMenuButton = document.getElementById("show-menu-button");

  showMenuButton?.addEventListener("click", (e) => {
    e.preventDefault();
    const menu = document.getElementById("menu-list");
    menu?.classList.toggle("hidden");

    if (menu?.classList.contains("hidden")) {
      showMenuButton.innerText = "Show menu";
    } else {
      showMenuButton.innerText = "Hide menu";
    }
  });
</script>
