---
import MainNav from "../components/MainNav.astro";
import BlogPost from "../components/BlogPost.astro";
import Avatar from "../components/Avatar.astro";

const allPosts = await Astro.glob("../pages/posts/*.md*");
const publishedPosts = allPosts
  .filter((post) => post.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      (new Date(b.frontmatter.pubDate) as any) -
      (new Date(a.frontmatter.pubDate) as any)
  );
---

<aside class="md:col-span-2 md:py-5 md:px-10 md:mw-bg-2">
  <header
    class="main-nav flex justify-between items-center py-5 px-5 md:px-0 md:pb-10"
    role="banner"
  >
    <Avatar />

    <a
      href="#main"
      class="sr-only ml-3 px-2 focus:static focus:w-auto focus:h-auto focus:overflow-visible"
      >Skip to main content</a
    >

    <MainNav classList="flex md:hidden px-4 md:px-16" />
  </header>

  <div
    id="show-menu-button"
    class="p-4 md:hidden bg-secondary-100 dark:mw-bg-2"
  >
    <button>Show posts</button>
  </div>
  <ul
    id="menu-list"
    class="list-none m-0 hidden md:block p-4 md:p-0 bg-secondary-100 dark:mw-bg-2"
  >
    {
      publishedPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          date={post.frontmatter.pubDate}
        />
      ))
    }
  </ul>
</aside>

<script>
  const showMenuButton = document.getElementById("show-menu-button");

  showMenuButton?.addEventListener("click", (e) => {
    e.preventDefault();
    const menu = document.getElementById("menu-list");
    menu?.classList.toggle("hidden");

    if (menu?.classList.contains("hidden")) {
      showMenuButton.innerText = "Show posts";
    } else {
      showMenuButton.innerText = "Hide posts";
    }
  });
</script>
