---
import MainNav from "../components/MainNav.astro";
import Sidebar from "../components/Sidebar.astro";
import MainFooter from "../components/Footer.astro";
import "../styles/styles.css";

const mainTitle = "Michael Watts, Software Engineer";
const { pageTitle, sidebar } = Astro.props;
---

<html
  lang="en"
  class="bg-secondary-50 dark:bg-secondary-900 text-secondary-950 dark:text-secondary-300"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{mainTitle} | {pageTitle}</title>
    <meta
      name="description"
      content="I'm a a software engineer from Surrey, UK, specialising in TypeScript, C#, Ruby, Rails, Node, JavaScript and HTML/CSS."
    />
    <link rel="stylesheet" href="https://use.typekit.net/eaq6veo.css" />
  </head>
  <body class="md:grid">
    <section
      class:list={[sidebar ? "md:grid md:grid-cols-8  md:gap-0" : "mx-auto"]}
    >
      {sidebar ? <Sidebar /> : null}

      <div class="w-full md:col-span-6">
        <div id="main" role="main" class="min-h-lvh max-w-6xl mt-8">
          <MainNav classList="hidden md:flex px-4 md:px-16" />
          <div class="content px-4 pb-4 md:px-16 md:pb-16 w-full">
            <slot />
          </div>
        </div>
        <MainFooter classList="p-4 md:p-16 md:pt-0" />
      </div>
    </section>
    <script>
      // used to be able to use web components
      await import.meta.glob("../web-components/**/*.ts", {
        eager: true,
      });
    </script>
  </body>
</html>
