---
import MainNav from "../components/MainNav.astro";
import Sidebar from "../components/Sidebar.astro";
import MainFooter from "../components/Footer.astro";
import "../styles/styles.css";

const mainTitle = "Michael Watts, Software Engineer";
const { pageTitle } = Astro.props;
---

<html
  lang="en"
  class="bg-secondary-50 dark:bg-secondary-950 text-secondary-950 dark:text-secondary-300"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{mainTitle} | {pageTitle}</title>
    <meta
      name="description"
      content="I'm a a software engineer from Surrey, UK, specialising in TypeScript, C#, Ruby, Rails, Node, JavaScript and HTML/CSS."
    />
    <link rel="stylesheet" href="https://use.typekit.net/eaq6veo.css" />
  </head>
  <body class="grid">
    <MainNav />

    <section class="flex">
      <Sidebar />

      <div class="w-full">
        <div id="main" role="main" class="min-h-lvh max-w-6xl">
          <div class="content p-12 w-full">
            <slot />
          </div>
        </div>
        <MainFooter />
      </div>
    </section>
  </body>
</html>
